TMDB_API_KEY=
ORGANIZE_SERVER=plex
ORGANIZE_MOVIES_DIR=/path/to/Movies
ORGANIZE_TV_SHOWS_DIR=/path/to/TV Shows
ORGANIZE_INBOX_DIR=/path/to/inbox
ORGANIZE_MIN_CONFIDENCE=0.75
ORGANIZE_USER_AGENT=organize/0.1
